.bg-blue {
    background-color: #101DD1;
}
.bg-cyan {
    background-color: #D4F6FB;
}
.black {
    color: #000000;
}
.blue {
    color: #101DD1;
}
.white {
    color: #ffffff;
}
.mt-10{
    margin-top: 10px!important;
}
.pr-30{
    padding-right: 30px!important;
}
.pl-30{
    padding-left: 30px!important;
}
body {
    background-color: #252525;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    background-color: transparent;
}
header > .transparent-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0.72;
}
header nav.navbar {
    direction: rtl;
    height: 100%;
}
header .navbar-brand img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    height: 65px;
}
header .nav-link {
    color: #101DD1;
}
header button.navbar-toggler {
    color: #101DD1;
}
header button.navbar-toggler:focus {
    outline: none;
}
section#top {
    background-image: url("../img/jeremy-bishop-A0wvBW-Hjbs-unsplash.jpg");
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
section#top div.baadban {
    position: absolute;
    top: 35%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    padding: 20px 50px 20px 20px;
}
section#top div.startup {
    position: absolute;
    bottom: 5%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    padding: 20px 20px 20px 0;
}
section#top div.baadban .background,
section#top div.startup .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.35;
    z-index: -1;
}
section#top div.baadban h1 {
    color: #ffffff;
    text-align: right;
}
section#top div.baadban h3 {
    color: #101DD1;
    text-align: left;
}
section#top div.startup a {
    display: block;
    outline: none;
    border: none;
    padding: 10px;
    width: fit-content;
}
section#about {
    background-color: #3848F6;
    height: 100vh;
}
section#about .content {
    position: relative;
    float: right;
    width: 50%;
    height: 100%;
    padding: 120px 50px;
    z-index: 1;
}
section#about .content:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    background-color: #D4F6FB;
    z-index: -1;
}
section#about .content:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 70%;
    top: 0;
    right: 70%;
    border: 100px solid #D4F6FB;
    border-top-color: transparent;
    border-left-color: transparent;
    z-index: -1;
}
section#about .content p {
    text-align: justify;
}
section#news {
    position: relative;
    background-image: url("../img/christina-ambalavanar-YHfFynSrclg-unsplash.png");
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    z-index: 0;
}
section#news .container {
    height: 100%;
}
section#news .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.2;
    z-index: -1;
}
section#news .owl-carousel {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90%;
}
section#news .owl-carousel .item {
    -webkit-border-radius: 0.125em;
    -moz-border-radius: 0.125em;
    border-radius: 0.125em;
    border: 5px solid #ffffff;
    position: relative;
}
section#news .owl-carousel .item .gradient-front {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #000000a8, transparent);
}
section#news .owl-carousel .item img {
    height: 300px;
}
section#news .owl-carousel .item .item-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 10px;
    z-index: 0;
}
section#news .owl-carousel .item .item-title:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.7;
    z-index: -1;
}
section#news .owl-carousel .owl-dots.disabled,
section#news .owl-carousel .owl-nav.disabled {
    display: block!important;
}
section#news .owl-carousel .owl-nav .owl-prev,
section#news .owl-carousel .owl-nav .owl-next {
    position: absolute;
    top: 45%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #ffffff;
}
section#news .owl-carousel .owl-nav .owl-prev {
    left: -30px;
}
section#news .owl-carousel .owl-nav .owl-next {
    right: -30px;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #ffffff;
    outline: none;
}
